#game-area {
    width: 400px;
    height: 400px;
    background-image: url('https://i.ibb.co/jz2N3X0/IMG-7774/background.jpg');
    background-size: cover;
    position: relative;
  margin: 0 auto; /* Center horizontally */
}

.snake {
    width: 15px;
    height: 15px;
    position: absolute;
}

.food {
    width: 15px;
    height: 15px;
    position: absolute;
}

.snake {
    background-image: url('https://i.postimg.cc/XZqzyGfy/snake.png');
    background-size: cover;
}

.food {
    background-image: url('https://i.postimg.cc/NKryt2sM/food.png');
    background-size: cover;
}

#reset-button,
#pause-button,
#score {
    font-size: 15px;
    padding: 10px 20px;
    background: #6e7888;
    border: none;
    color: #222738;
    border-radius: 40px;
    font-weight: 800;
    cursor: pointer;
    position: fixed;
    bottom: 100px;  
}

#pause-button {
    left: 50%;
    transform: translateX(-60%);
}

#reset-button {
    left: 50%;
    transform: translateX(-150%);
}

#score {
  font-size: 18px;
    left: 60%;
    transform: translateX(5%);
    color: white;
}
 
#game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    text-align: center;
}

#game-over h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

#game-over p {
    font-size: 1.5em;
}

#game-over.show {
    display: block;
}
